@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provi de additional information.</p>
<html>
<head>
    <title>testing</title>
</head>
<body>
    Hello pp checkin mmmmm
</body>
</html>